### IF YOU WANT TO USE THIS NOTEBOOK , MAKE SURE TO GET THE NOTEBOOK OUT OF THIS FOLDER TO MAIN FOLDER

In [2]:
import pandas as pd

In [3]:
import pickle

In [4]:
with open("P_Prediction/P_pred_scaler.pkl","rb") as f:
    Scaler = pickle.load(f)

with open("P_Prediction/P_pred_model.pkl","rb") as f:
    Model = pickle.load(f)

In [5]:
df = pd.read_csv("Crop_recommendation.csv")

In [6]:
df = df[['N','K','temperature','humidity','ph','rainfall']]

In [7]:
needed = df[["N","temperature",'humidity','ph','rainfall']]

In [8]:
df['P'] = Model.predict(Scaler.transform(needed))

In [9]:
df

        N   K  temperature   humidity        ph    rainfall          P
0      90  43    20.879744  82.002744  6.502985  202.935536  44.678024
1      85  41    21.770462  80.319644  7.038096  226.655537  45.195278
2      60  44    23.004459  82.320763  7.840207  263.964248  50.448369
3      74  40    26.491096  80.158363  6.980401  242.864034  46.705578
4      78  42    20.130175  81.604873  7.628473  262.717340  44.445102
...   ...  ..          ...        ...       ...         ...        ...
2195  107  32    26.774637  66.413269  6.780064  177.774507  30.185657
2196   99  27    27.417112  56.636362  6.086922  127.924610  27.305123
2197  118  30    24.131797  67.225123  6.362608  173.322839  31.166541
2198  117  34    26.272418  52.127394  6.758793  127.175293  29.923043
2199  104  30    23.603016  60.396475  6.779833  140.937041  26.280453

[2200 rows x 7 columns]

In [10]:
df.columns

Index(['N', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'P'], dtype='object')

In [11]:
X = df[['N', 'temperature', 'humidity', 'ph', 'rainfall', 'P']]
Y = df["K"]

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.20)

In [14]:
from sklearn.preprocessing import StandardScaler
scale = StandardScaler()
X_train = scale.fit_transform(X_train)
X_test = scale.transform(X_test)

In [15]:
from sklearn.linear_model import LinearRegression,Lasso,Ridge,ElasticNet
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor,GradientBoostingRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score,mean_absolute_error

models = {
    "Random Forest" : RandomForestRegressor()}

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,Y_train)
    Y_pred = model.predict(X_test)

    acc = r2_score(Y_test,Y_pred)
    mae = mean_absolute_error(Y_test,Y_pred)
    print(f"R2 value for {list(models.keys())[i]} : ", acc*100)
    print(f"MAE value for {list(models.keys())[i]} : ", mae)
    print("-"*50) # Just to make a boundary

R2 value for Random Forest :  97.45984211044876
MAE value for Random Forest :  4.131318181818181
--------------------------------------------------

In [16]:
Y_pred  = model.predict(scale.transform([[90,20.879744,82.002744,6.502985,202.935536,44.678024]]))
Y_pred

c:\Users\kunsh\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

array([42.2])

In [17]:
with open("K_pred_model.pkl","wb") as f:
    pickle.dump(model,f)

with open("K_pred_scaler.pkl","wb") as f:
    pickle.dump(scale,f)